<div class="page-container">
  <div class="vehicle-container col-12">
    <div *ngIf="vehiculo" class="col-12">
      <img id="imagen-vehiculo" *ngIf="vehiculo.imagenes && vehiculo.imagenes.length > 0"
        [src]="'http://localhost:3000/uploads/' + vehiculo.imagenes[0]" alt="Imagen del vehículo" />
      <p *ngIf="!vehiculo.imagenes?.length">No hay imágenes disponibles para este vehículo.</p>
    </div>

    <div class="row vehicle-details">
      <div class="col-lg-6 anuncio">
        <strong class="titulo">Descripción del vehículo</strong>
      <hr>
      <p><strong>Modelo:</strong> {{vehiculo?.modelo}}</p>
      <p><strong>Color:</strong> Blanco</p>
      <p><strong>Categoria:</strong> {{vehiculo?.categoria?.nombreCategoria}} </p>
      <p><strong>Marca:</strong> {{vehiculo?.marca?.nombreMarca}}</p>
      <p><strong>Descripción:</strong> {{vehiculo?.descripcion}}</p>
      <p><strong>Transmisión:</strong> {{vehiculo?.transmision}}</p>
      <p><strong>Precio Venta:</strong> {{ vehiculo?.precioVenta | currency:'ARS' }}</p>
      <p><strong>Precio Alquiler:</strong> {{ vehiculo?.precioAlquilerDiario| currency:'ARS' }}</p>
    </div>
      <div class="col-lg-6 anuncio">
        <strong class="titulo">Descripción del propietario</strong>
      <hr>
      <p><strong>Nombre:</strong>{{vehiculo?.propietario?.nombre}} </p>
      <p><strong>Apellido:</strong> {{vehiculo?.propietario?.apellido}} </p>
      <p><strong>Mail:</strong> {{vehiculo?.propietario?.mail}} </p>
      <p><strong>Direccion:</strong> {{vehiculo?.propietario?.direccion}} </p>
    </div>

    <div class="confirmar-compra-container">
    <button type="button" class="btn btn-primary confirmar-compra-btn" (click)="openModal('confirmarCompra')">Confirmar Compra</button></div>
  </div>
  </div>
</div>


<div id="confirmarCompra" class="modalChanged">
  <div class="modal-contentChanged">
    <span class="close" (click)="closeModal('confirmarCompra')">&times;</span>
    <h2>Confirmar Compra</h2>
    <p style="margin: 10px;">¿Estás seguro de que deseas <strong>confirmar</strong> la compra?</p>
    <p style="margin: 10px;"><strong>Nombre:</strong> {{ vehiculo?.modelo }}</p>
    <button class="btn btn-secondary" (click)="closeModal('confirmarCompra')">Cancelar</button>
    <button class="btn btn-success" (click)="confirmarCompra()">Confirmar Compra</button>
  </div>
</div>
