<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-fluid">
  <button class="btn btn-primary d-lg-none mt-2 w-100" (click)="toggleFilter()">
    {{ showFilter ? "Ocultar Filtro" : "Mostrar Filtro" }}
  </button>

  <div class="row">
    <div class="col-12 col-lg-3 mb-4 filtro" [class.d-none]="!showFilter && isMobile">
      <app-filter (filterChanged)="onFilterChanged($event)" class="sticky-lg-top"></app-filter>
    </div>

    <div class="col-12 col-lg-9 coches mt-5">
      <div class="row g-3">
        <div *ngFor="let vehiculo of filteredVehicles" class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card h-100">

            <div class="position-relative">
              <img
                id="imagen-vehiculo"
                class="card-img-top img-fluid"
                [src]="'http://localhost:3000/uploads/' + vehiculo.imagenes[0]"
                alt="Imagen del vehículo"
                *ngIf="vehiculo.imagenes.length > 0"
              />
              <button class="btn btn-light btn-details" (click)="openVehicleDetails(vehiculo)">
                <span class="material-icons">
                  info
                  </span>
              </button>
            </div>

            <div class="card-body d-flex flex-column">
              <p  
                 *ngIf="vehiculo.precioVenta > 0 && vehiculo.precioVenta !== null"
                 class="card-text price-product mb-2">
                <strong class="ms-2">Venta:</strong> ${{ vehiculo.precioVenta }}
              </p>
              <p 
                 *ngIf="vehiculo.precioAlquilerDiario > 0 && vehiculo.precioAlquilerDiario !== null"
                 class="card-text price-product mb-2">
                <strong class="ms-2">Alquiler:</strong> ${{ vehiculo.precioAlquilerDiario }}
              </p>

              <div class="mt-auto botonera">
                <a [routerLink]="['/product/compra', vehiculo.id]" 
                   class="btn btn-primary w-50 mx-1 mb-2"
                   [class.disabled]="
                     !vehiculo.precioVenta ||
                     vehiculo.propietario.id === usuarioActual?.id ||
                     usuarioActual?.rol === 'ADMIN'
                   ">
                  Comprar
                </a>
                <a [routerLink]="['/product/rent', vehiculo.id]" 
                   class="btn btn-secondary w-50 mx-1 mb-2"
                   [class.disabled]="
                     !vehiculo.precioAlquilerDiario ||
                     vehiculo.propietario.id === usuarioActual?.id ||
                     vehiculo?.compra?.estadoCompra === 'PENDIENTE' ||
                     usuarioActual?.rol === 'ADMIN'
                   ">
                  Alquilar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="filteredVehicles.length === 0" style="display: flex; justify-content: center; font-size: 20px">Sin vehículos disponibles</p>
    </div>
  </div>
</div>
